*{
    margin: 0px;
    padding: 0px;
    
   
    font-family:'inter';
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');



/*CABEÇALHO*/

#logo{
    margin-left: 75px;
    margin-top: 50px;
}

#menu-superior{
    background-image: url(../imagens/background.svg);
    
    color:aliceblue;
    padding-bottom: 50px;
}

#t-menu{
    font-size: 2em;
    font-weight: bold;
    margin-left: 225px;
    margin-top: 50px;
    
}

#p-menu{
    font-size: 1.1em;
    margin-left: 225px;
    margin-top: 50px;
    margin-bottom: 100px;
}
/*-------------------------------------------------------------------------*/

/*
SEGUNDA PARTE - MENU-OPERACIONAL
*/

#menu-operacional{
    background-color: #EAECE5;
    padding: 100px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-size: 1.5em;

}

.icone{
    margin: 0px 25px 0px 0px;
}

.txtop{
    display: flex;
}

/*-------------------------------------------------------------------------*/

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#video{
    margin: 50px 25px 50px 100px ;
}

#titulovideo{
    margin-top: 50px;
    color: #247BA0;
    font-size: 2em;
}

#textovideo{
    

    font-size: 1em;
}

/*-------------------------------------------------------------------------*/

/* MAIN */

#carrossel{
    margin-bottom: 50px;
    width: 1263px;
    height: 400px;
    left: 0px;
    top: 1190px;
    background: #247BA0;
}

#titulo-carrossel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    padding-top: 50px;
    text-align: center;
    color: aliceblue;
}
#div-cards{
    display: grid;
    grid-auto-flow: column;
    
}
.card{
    margin-left: 50px;
    margin-top: 50px;
}

#seta-direita{
    margin-top: 238%;
}

#seta-esquerda{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    left: 37.57%;
    right: 34.99%;
    top: 26.73%;
    bottom: 26.74%;

    
}



footer{
    background-color: #247BA0;
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
footer  a{
    color: aliceblue;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}