*{
    margin: 0px;
    padding: 0px;
    
   
    font-family:'inter';
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');



/*CABEÇALHO*/

#logo{
    margin-left: 75px;
    margin-top: 50px;
}

#menu-superior{
    background-image: url(../imagens/background.svg);
    
    color:aliceblue;
    padding-bottom: 50px;
}

#t-menu{
    font-size: 3em;
    font-weight: bold;
    margin-left: 225px;
    margin-top: 50px;
    
}

#p-menu{
    font-size: 1.5em;
    margin-left: 225px;
    margin-top: 50px;
    margin-bottom: 100px;
}
/*-------------------------------------------------------------------------*/

/*
SEGUNDA PARTE - MENU-OPERACIONAL
*/

#menu-operacional{
    background-color: #EAECE5;
    padding: 100px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-size: 1.5em;

}

.icone{
    margin: 0px 25px 0px 0px;
}

.txtop{
    display: flex;
}

/*-------------------------------------------------------------------------*/

#div.video 